.currency-row {
  display: inline-block;
}

@coin-diameter: 1.7em;

.platinum, .gold, .silver, .copper {
  border-radius: 50%;
  width: @coin-diameter;
  height: @coin-diameter;
  border: 3px solid white;
  display: inline-block;
  float: right;
  margin-right: .8em;

  &.read-only {
    border: none;
    height: 1em;
    width: 1em;
    box-sizing: border-box;
    float: unset;
    margin-left: .1em;
    margin-right: .3em;
  }
}

.platinum {
  background-color: white;
  border-color: silver;
}

.gold {
  background-color: gold;
}

.silver {
  background-color: silver;
}
.copper {
  background-color: #B87333;
}