label.currency {
  margin-right: .8em;
}

.platinum, .gold, .silver, .copper {
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  border: 3px solid white;
  float: right;
}

.platinum {
  background-color: white;
}

.gold {
  background-color: gold;
}

.silver {
  background-color: silver;
}
.copper {
  background-color: #B87333;
}