@import "variables.less";

.new-posting {
  a {
    text-decoration: underline;
  }

  select {
    width: 15em;
    margin-bottom: .5em;
  }

  .currency-input {
    display: inline-block;
    margin-bottom: 1em;
  }

  input {
    border-radius: @border-radius;
    width: 4em;
    margin-right: .25em;

    &#gold, &#silver, &#copper {
      display: inline-block;
      width: 2em;
    }
  }

  h1.ppu-title {
    display: inline-block;
    margin-right: 1em;
  }

  .quantity {
    margin-bottom: 1em;
  }

  div.currency-row {
    display: inline-block;
  } 

  .summary {
    margin-bottom: 1em;
  }
}