.posting-form {
  background-color: steelblue;
  opacity: 0.95;
  padding: 2em;
  border-radius: 2px;
  border: solid lightgray 2px;

  a {
    text-decoration: underline;
  }

  select {
    width: 15em;
    margin-bottom: .5em;
  }

  input {
    width: 4em;
    margin-bottom: 1em;
    margin-right: .25em;

    &#gold, &#silver, &#copper {
      width: 2em;
    }
  }

  h1.ppu-title {
    display: inline-block;
    margin-right: 1em;
  }

  .quantity {
    margin-bottom: .1em;
  }

  div.currency-row {
    display: inline-block;
    margin-top: .5em;
  } 

  .summary {
    margin-bottom: .5em;
    span {
      vertical-align: text-top;
    }
  }
}