@import "variables.less";

@table-color: @background-color;

.search {

  select {
    width: 15em;
    margin-right: .5em;
  }

  table {
    color: @font-color;
    background-color: @table-color;

    .numeric {
      text-align: right;
    }

    thead {
      background-color: darken(@table-color, 10%);
    }

    tbody {
      background-color: @table-color;
      
      tr {
        &:hover {
          background-color: lighten(@table-color, 20%); 
        }
      }
    }
  }
}