@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

div.currency-row {
  display: inline-block;
}

label.currency-label {
  float: left;
  display: none;
}

.currency {
  float: right;
  width: 5em;
}

.quantity.on {
  border: 1px solid gray;
}

.quantity.off {
  border: none;
}

.quantity label {
  padding-left: .5em;
  cursor: pointer;
}

input[type=number] {
 -moz-appearance:textfield;
 text-align: right;
}

h2.ppu-title {
  display: inline-block;
  padding-right: .5em;
}