@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

body {
  background-image: url("/img/alpaca.png");
  background-position: top right; 
  background-repeat: no-repeat; 
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

div.currency-row {
  display: inline-block;
}


.currency {
  width: 5em;
}

label.currency {
  cursor: pointer;
  margin-right: .8em;
}

div .quantity {
  margin-bottom: .4em;
  margin-top: .4em;
} 

.quantity label {
  padding-left: .3em;
}

.quantity input {
  width: 5em;
}

input[type=number] {
 -moz-appearance:textfield;
 text-align: right;
}

h2.ppu-title {
  display: inline-block;
  padding-right: .5em;
}

.platinum, .gold, .silver, .copper {
  border-radius: 50%;
  width: 1em;
  box-sizing: unset;
  height: 1em;
  margin: .25em;
  border: 2px solid black;
  float: right;
}

.platinum {
  background-color: white;
}

.gold {
  background-color: gold;
}

.silver {
  background-color: silver;
}

.copper {
  background-color: #B87333;
}
